.hero-image-main {
    background-image: url(../images/22589.jpg);
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.auto-margins{
    margin: auto
}

div{
    border: 1px solid black;
}